.toggleWrapper {
  position: relative;
  display: inline-block;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 1rem;
  z-index: 50;
  width: 200px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.switchWrapper,
.colorPickerWrapper {
  margin-top: 0.5rem;
}

.colorPickerWrapper input[type="color"] {
  margin-left: 0.5rem;
  cursor: pointer;
}
