.body {
  background-color: var(--bg-paper);
  color: var(--text-primary);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
}

.main {
  flex: 1;
  padding: 2rem;
  /* mobile-first padding */
}

@media (min-width: 768px) {
  .main {
    padding: 3rem 4rem;
    /* tablet */
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 70px;
    /* desktop */
  }
}
